*.so*
*.o
*.swp
*Makefile
*Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
lib/.deps/
lib/.libs/
lib/gpio.d
lib/*.la
lib/*.lo
libtool
96BoardsGPIO.pc
INSTALL
examples/.deps
examples/blink
